.feynman{
  background-color: #f2f2f2;
  background-image: url("../../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  min-height: 890px;
  position: relative;
  text-align: center;
}
