.kaufman__triangle{
  background-image: url("../../../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 877px;
  height:877px;
  position: absolute;
  top: 0;
  right: -210px;
}
