.footer__column-links{
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0 0 16px;
}
